# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kdsge\OneDrive\Documents\Portfolio\Game Jams\SFML - Space Invaders\SFML-SpaceInvaders\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
